<!-- if -->
<div class="row" *ngIf="state.state">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="passwordFormControl" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordFormControl" placeholder="**********" #txtPassword>
    </div>
    <div class="mb-3">
      <label for="passwordConfirmFormControl" class="form-label">Password Confirm</label>
      <input type="password" class="form-control" id="passwordConfirmFormControl" placeholder="**********" #txtPasswordConfirm>
    </div>
    <button type="submit" style="margin: 5px;" class="btn btn-success" (click)="updatePassword(txtPassword.value, txtPasswordConfirm.value)">Sifremi Guncelle</button>
  </div>
  <div class="col-md-3"></div>
</div>
<!-- else -->
<div class="container" *ngIf="!state.state">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="alert alert-danger" style="margin-top: 50px;" role="alert">
        Bu sayfa kullanilamamaktadir!
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
